[submodule "themes"]
	path = themes
	url = https://github.com/getpelican/pelican-themes.git
[submodule "plugin"]
	path = plugin
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "output"]
	path = output
	url = https://github.com/archeranimesh/archeranimesh.github.io.git
